@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: rgba(0, 0, 0, 0.05);
    --accent-foreground: rgba(0, 0, 0, 0.88);

    --primary: rgba(0, 0, 0, 0.05);
    --primary-foreground: rgba(0, 0, 0, 0.56);
    --primary-hover: rgba(0, 0, 0, 0.1);
    --primary-active: rgba(0, 0, 0, 0.2);

    --muted: rgba(0, 0, 0, 0.3);

    --input: rgba(0, 0, 0, 0.08);

    --muted-foreground: rgba(0, 0, 0, 0.4);

    --ring: rgba(0, 0, 0, 0.4);

    --border: rgba(0, 0, 0, 0.125);

    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(0, 0, 0, 0.72);
    --popover-shadow-sm: 0 0.7px 2.7px rgba(0, 0, 0, 0.02), 0 1.7px 6.9px rgba(0, 0, 0, 0.03),
      0 3.5px 14.2px rgba(0, 0, 0, 0.04), 0 7.3px 29.2px rgba(0, 0, 0, 0.05),
      0 20px 80px rgba(0, 0, 0, 0.06);

    --background: rgba(0, 0, 0, 0.01);
  }

  .dark {
    --accent: rgba(255, 255, 255, 0.05);
    --accent-foreground: rgba(255, 255, 255, 0.88);

    --primary: rgba(255, 255, 255, 0.08);
    --primary-foreground: rgba(255, 255, 255, 0.64);
    --primary-hover: rgba(255, 255, 255, 0.64);
    --primary-active: rgba(255, 255, 255, 0.48);
    --primary-background: rgba(0, 0, 0, 0.9);
    --muted: rgba(255, 255, 255, 0.3);

    --input: rgba(255, 255, 255, 0.08);

    --foreground: rgba(255, 255, 255, 0.96);
    --muted-foreground: rgba(255, 255, 255, 0.4);

    --ring: rgba(255, 255, 255, 0.4);

    --border: rgba(255, 255, 255, 0.125);

    --popover: rgba(255, 255, 255, 0.12);
    --popover-foreground: rgba(255, 255, 255, 0.48);
    --popover-shadow-sm: 0 0.7px 2.7px rgba(0, 0, 0, 0.02), 0 1.7px 6.9px rgba(0, 0, 0, 0.03),
      0 3.5px 14.2px rgba(0, 0, 0, 0.04), 0 7.3px 29.2px rgba(0, 0, 0, 0.05),
      0 20px 80px rgba(0, 0, 0, 0.06);

    --background: rgba(0, 0, 0, 0.9);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
